sources/*.tgz
sources/*.tar.gz
sources/ycsb-0.17.0/*
!sources/ycsb-0.17.0/aerospike-binding
!sources/ycsb-0.17.0/cassandra-binding
!sources/ycsb-0.17.0/memcached-binding
!sources/ycsb-0.17.0/redis-binding
!sources/ycsb-0.17.0/workloads
!sources/ycsb-0.17.0/bin
!sources/ycsb-0.17.0/lib
!sources/ycsb-0.17.0/LICENSE.txt
!sources/ycsb-0.17.0/NOTICE.txt
sources/spark-3.3.2-bin-hadoop3
temp/*
evaluation/*.txt
evaluation/*.sam
deps/*
!deps/.gitkeep
!deps/*.repo
!deps/*.txt
datasets/graphx/*/project
datasets/graphx/*/target
datasets/spark/*/project
datasets/spark/*/target
